.cabecera-nueva {
    background-color: lavender; /* lado del texto */
    border-bottom: 2px solid #e6e6fa;
}

.foto-fractal {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.titulo-principal {
    color: purple;
    font-family: serif;
    font-weight: bold;
    font-size: 3.5rem;
}

.objetivo-texto {
    color: black;
    font-family: serif;
    font-size: 2rem;
    line-height: 1;
    margin-top: 50px;
}
.btn-morado {
            background-color: purple;
            color: white;
            border-style: groove;
}

.materia {
        text-align: center;
        font-family: serif;
        color: darkmagenta;
        font-weight: bold;
}